[2014-01-02 18:33] tomByrer opened #1 "URL: SemVer API matching & shorten API path"
API idea looks great!

**Idea:**
1. Please use full [Semantic Versioning](http://semver.org/) for the API version.  EG first released version will be v1.0.0
2. Use shortened alias URL for latest sub-version:
   - Newest v1.0.\* will be accessed as only `/v1.0/`.  This is perfect for most API calls, since API bug fixes will automatically be implemented with no user code changes, but code will not b

[2014-01-02 20:35] tomByrer opened #2 "FYI: other CDN APIs"
[phuu / cdnjs](https://github.com/phuu/cdnjs)
BTW, cdnjs cleanly lists non-GitHub source code repositories; there are only a few, but some still use Google-code, host their own repo on a non-homepage, & 2 others repos.
[passy / google-cdn](https://github.com/passy/google-cdn)

Could be good starting points.

[2014-01-03 18:22] tomByrer opened #3 "http://api.jsdelivr.com/v1/best"
Daily/Hourly data from [CDNperf](http://www.cdnperf.com/)
- master index of files on all CDNs
- jsdelivr's load-balancing closest-POP scripting wizardry (I assume you do this already for //cdn.jsdelivr.net/)
  = a CDN API that kicks... can I say arce on here?  ;)

Plus, this may help adding new POPs; being able to use all the CDNs with one link is close to combining them all into one CDN, isn't it

[2014-01-03 19:46] #3 closed, assigned to nobody

[2014-02-08 21:23] bebraw opened #4 "Set up Wercker + AppFog"

[2014-02-11 19:44] #4 closed, assigned to bebraw

[2014-02-13 20:40] #2 closed, assigned to nobody

[2014-02-13 20:43] jimaek opened #5 "More CDNs"
We should add more CDNs to the API.

[Google](https://developers.google.com/speed/libraries/devguide) -  Scraping
[jQuery](http://code.jquery.com/) - https://github.com/jquery/codeorigin.jquery.com/tree/master/cdn
BootstrapCDN - https://github.com/MaxCDN/bootstrap-cdn/tree/develop/public

[2014-02-24 13:56] tomByrer opened #7 "http://api.jsdelivr.com/v1/jsdelivr/libraries/NAME?PARAMETER=TEXT broken"
`http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery&fields=mainfile`
^ works great, however this does not:
`http://api.jsdelivr.com/v1/jsdelivr/libraries/jquery?fields=mainfile`
It is out of scope for the second command to work like the first?
cheers

[2014-02-24 14:08] tomByrer opened #8 "SemVer sorting, reversed prefered"
[code]

I hope to be:

[code]

Perhaps [this guy](https://github.com/jsdelivr/jsdelivr.com/issues/2) can help out? ;)
TIA

[2014-02-24 14:47] #7 closed, assigned to bebraw

[2014-02-24 19:38] tomByrer opened #9 "(fuzzy) search by field"
The field searching is very useful, thanks!  But it is too literal.
`http://api.jsdelivr.com/v1/jsdelivr/libraries?author=angularui` gives one result
`http://api.jsdelivr.com/v1/jsdelivr/libraries?author=AngularUI` gives another
`http://api.jsdelivr.com/v1/jsdelivr/libraries?author=%22AngularUI%22` does not work, so 'AngularUI Team' or can never be found.  (Many people use their full name at autho

[2014-02-24 20:25] #9 closed, assigned to nobody

[2014-02-25 03:18] tomByrer opened #10 "How to find same project, different CDN, different "name" field?"
How can I find just the Ember CDN, if:
[code]
There are other mismatched project names: `underscore.js`|`underscorejs`, `can.js`|`canjs`, hard to say how many now or in future.  Not sure of the best approach?
* client-side or server-side lookup table (might grow large)
* switching to RegEx, since I can't figure out how to use [minimatch](https://github.com/isaacs/minimatch#features) here.  In RegE

[2014-02-26 13:38] #8 closed, assigned to bebraw

[2014-02-26 13:52] bebraw opened #11 "Support jQuery CDN"
Would it make sense to add support for jQuery CDN to the API?
## Reference
- https://github.com/jquery/codeorigin.jquery.com/tree/master/cdn

[2014-02-26 13:53] bebraw opened #12 "Support BootstrapCDN"
Would it make sense to add support for BootstrapCDN to the API?
## Reference
- https://github.com/MaxCDN/bootstrap-cdn/tree/develop/public

[2014-02-26 13:53] #5 closed, assigned to nobody

[2014-02-26 13:59] bebraw opened #13 "Add `normname` field"
Now it's very difficult to find the same library across different CDNs. In order to solve this I propose adding `normname` (stands for normalized name) field. For GitHub projects, it's <author>/<project>. If GitHub link is not available, project name is used instead.

[2014-02-26 14:01] bebraw opened #14 "Add `repositories` field"
Standardize with NPM format. Ie.

[code]

[2014-02-26 14:03] bebraw opened #15 "Reformat `assets`"
Rather than returning

[code]

it would be convenient to return

[code]

That way `lastversion` and `versions` would work well with the structure.

[2014-02-26 14:14] bebraw opened #16 "Add `/libraries`"
It would be potentially interesting to add a library oriented resource. Example:

**GET `/v2/libraries?normname=jquery/jquery`** (need to use a normalized name here to avoid name clashes (just see all color libs))

[code]

This simply aggregates the current information in a different format. In the beginning you can see common meta (name, description etc.). CDN specific information is stored to `c

[2014-02-27 12:42] bebraw opened #17 "Enable gzip"

[2014-03-01 05:45] tomByrer opened #18 "search by 'file grouping'?"
While most of the files on CDNs are JS & their supporting CSS files, I do look at jsDelivr on occasion for fonts.  However, a font might not be called a font, such as [ratchicons](https://github.com/twbs/ratchet/tree/master/dist/ratchicons).  Searching by the file extensions `.eot|.ttf|.woff` could be helpful, searching for `.svg` that is a font is problematic.  & fonts are sometimes on CDNs as pa

[2014-03-10 04:05] tomByrer opened #19 "make channel on runnable.com"
[runnable](http://runnable.com/publish) is like a jsBin for APIs. (scroll down to sign up)

I made a [little demo](http://runnable.com/Ux0zUlC15LRJ7Uar/parsing-a-json-api-jsdelivr-com-call-using-jquery-for-javascript), & have the most popular [jsDelivr tag](http://runnable.com/jsDelivr?sort=runs) so far!

Seems to be good for demos.  A bit slow to run scripts, but I suspect they'll speed up.

[2014-03-11 02:53] tomByrer opened #20 "API down"
Got AppFog 404.
I hope I didn't break it with my script demos!

[2014-03-11 13:27] #20 closed, assigned to nobody

[2014-03-16 01:05] willfarrell opened #21 "Search for lib API"
I had a request to add jsdelivr to my Alfred CDN workflow (https://github.com/willfarrell/alfred-cdn-workflow/issues/2). The other CDNs have a json file for everything or their search page isn't dynamically generated (thus I scrape). What is the best way to get all the libs on your cdn for fast local search?

[2014-03-16 11:17] gamtiq opened #22 "A couple of notices about README.md"
Hello,
1. There is a typo in `README.md`:

2. Why is description not mentioned in list of parameters that can be used for search?
   Search by description works fine.

[2014-03-16 12:20] #22 closed, assigned to nobody

[2014-03-16 12:43] gamtiq opened #23 "Ability to search by using logical OR connective"
As I understand, currently `AND` connective/operator is used when search is made with two or more parameters.
Is it possible to add support for `OR` connective someway?
So that for example search for `name=*key*&description=*key*` would return list with packages whose name or description contains specified `key`.

[2014-03-16 19:04] #21 closed, assigned to nobody

[2014-03-17 19:05] bebraw opened #24 "Drop `lastversion`?"
Given it's easy to figure out the last version based on `versions` what if we just dropped it in v2? Any objections?

[2014-03-17 19:06] bebraw opened #25 "Merge `versions` and `assets`?"
Given `assets` will have versions in an easy to use format (#15), wouldn't it make sense to drop `versions` field? Any objections?

[2014-03-17 20:23] #24 closed, assigned to nobody

[2014-03-18 07:07] #25 closed, assigned to nobody

[2014-03-19 19:53] #23 closed, assigned to nobody

[2014-03-20 07:18] #1 closed, assigned to nobody

[2014-03-20 23:07] ryanpitts opened #26 "handlebarsjs doesn't work via compiled request"
Loving jsDelivr, and I'm switching over all the CDN requests on one of my apps to use it today. HandlebarsJS works great if I request it individually, like so:

`<script src="//cdn.jsdelivr.net/handlebarsjs/1.3.0/handlebars.min.js"></script>`

However, as soon as I add it to a compiled request, handlebars stops working. Even if I request it as the only member of a compilation, like so:

`<script s

[2014-03-20 23:19] #26 closed, assigned to nobody

[2014-03-21 00:57] ryanpitts opened #27 "requests for .map throws 404 if the original library is in a grouped request"
We just discovered this because Underscore is one of the libraries we use. If I request Underscore on its own, like so:

`<script src="//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>`

Then Chrome dev tools sees that there's a .map file, and requests it automatically from:

`//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.map`

However, if we include Underscore in a grouped

[2014-03-21 15:44] #27 closed, assigned to nobody

[2014-03-24 10:12] #12 closed, assigned to nobody

[2014-03-24 12:04] bebraw opened #28 "Prune `/libraries` out of urls?"
I wonder if we should just drop `libraries` from url. That's the only resource type we serve so now it seems redundant. We could do this change in `v2`.

[2014-03-25 06:02] MickeyKay opened #29 "How to parse results?"
Hi there,

Noob question. I'm about to do some googling, but what's the best method you recommend to parse the results for PHP as an array?

Thanks :)

[2014-03-25 06:53] #29 closed, assigned to nobody

[2014-03-25 08:07] #11 closed, assigned to nobody

[2014-03-25 14:03] #18 closed, assigned to bebraw

[2014-03-31 21:16] #19 closed, assigned to nobody

[2014-03-31 23:10] MickeyKay opened #30 "How to exclude a version?"
Is there a way to exclude a particular version or group of versions (e.g. 2.0.1 or 2.*)?

Thanks.

[2014-04-02 16:16] tomByrer opened #31 "add Yandex CDN (low priority)"
http://api.yandex.ru/jslibs/libs.xml
Seems smaller, newish & current (eg Underscore has only the newest 3 versions, including very).

@jimaek In addition, perhaps reach out to them to get more CDN hosting in Russia for jsDelivr, if not just host for them?

[2014-04-09 16:24] jimaek opened #32 "Use Github repo as source for jsDelivr"

[2014-04-22 18:59] ryanpitts opened #33 "mainfile for typeahead.js references nonexistent file"
http://www.jsdelivr.com/#!typeahead.js

Mainfile is `typeahead.min.js`, but that's not in the files for the project. Should probably point to `typeahead.bundle.min.js`

We were referencing typeahead in a call for multiple libraries for our site, and this broke things, fwiw.

[2014-04-23 17:32] jimaek opened #34 "Allow to hide projects per CDN"
For example for jsDelivr we want to hide `highstocks` and some other projects.
Maybe a config file where we can set a list of project names we want to hide from each CDN we support?

[2014-04-24 16:15] #33 closed, assigned to nobody

[2014-04-30 20:22] GeorgeErickson opened #35 "Add github stars"
Having an occasionally updated number of stars on github for the project would be awesome for search.

[2014-05-01 03:18] GeorgeErickson opened #36 "Non-github urls in github field"
See
1. [jqplot](http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jqplot&fields=github,name)
2. [jquery.autosuggest](http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery.autosuggest&fields=github,name)
3. [sliderkit](http://api.jsdelivr.com/v1/jsdelivr/libraries?name=sliderkit&fields=github,name)
4. [slimbox](http://api.jsdelivr.com/v1/jsdelivr/libraries?name=slimbox&fields=github,name)

[2014-05-01 05:00] #36 closed, assigned to nobody

[2014-05-06 16:56] megawac opened #37 "Add keywords"
Support for keywords/tags in the `info.ini` would be potentially interesting and a reasonable solution (imo) for package aliasing (https://github.com/jsdelivr/jsdelivr/issues/731)

The way I'd imagine it, assuming we want to continue using .ini files in v2 is a comma seperated list of tags for querying. Poor example below for ace

[code]

[2014-05-07 01:27] gavinhungry opened #38 "Add SSL/TLS support"
`api.jsdelivr.com` is currently only served in the clear, which creates mixed-content warnings when an SSL/TLS page requests content from it.

Any plans to add SSL/TLS to this server? (not a huge problem if not, I can always proxy or self-host).

[2014-05-07 13:20] bebraw opened #39 "Support searching against arrays"
Ie. `http://api.jsdelivr.com/v1/jsdelivr/libraries?versions=2.1.1` or `http://api.jsdelivr.com/v1/jsdelivr/libraries?versions=2.1.*`.

This will become particularly useful if keywords are added to the API (#37).

[2014-05-08 20:08] #38 closed, assigned to nobody

[2014-05-16 06:44] #32 closed, assigned to nobody

[2014-06-11 21:37] Mparaiso opened #42 "API down?"
Is your api down ?

http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery

returns a code 52 when testing with curl (Empty request)(tested with IE,FF,and Chrome too)

[2014-06-11 22:44] #42 closed, assigned to nobody

[2014-07-09 22:07] jimaek opened #43 "Runscope feedback"

[2014-07-15 18:23] am11 opened #44 "Add support for ASP CDN"
Documentation: http://www.asp.net/ajaxlibrary/cdn.ashx

[2014-08-06 18:07] fulldecent opened #45 "Confirm sources"
Can you please confirm where data is coming from for this service. Are you a primary authority for the package list of any of the CDN?

Thank you

[2014-08-06 18:12] fulldecent opened #46 "Add MaxCDN's Bootstrap CDN"
Please add support for MaxCDN's BootstrapCDN.

Code for extracting the latest versions and URLs from MaxCDN are provided at:
https://github.com/fulldecent/web-puc

Please run the command `web-puc -u` to have the that data extracted.

P.S. I intend to integrate this jsdelivr API into web-puc.

[2014-08-06 20:06] #46 closed, assigned to nobody

[2014-08-06 20:24] fulldecent opened #47 "Confirm recency"
The index file `http://api.jsdelivr.com/v1/jsdelivr/` shows all included CDNs.

I would like to ask that here or some other location will explicitly state that date the the data files were last updated.

[2014-08-06 20:51] #45 closed, assigned to nobody

[2014-08-20 15:17] fulldecent opened #48 "Explicit documentation of asset URLs"
Please consider:

The result shows project name is **`twitter-bootstrap`**, version is `3.2.0` and one asset is `css/bootstrap.min.css`. However, the actual asset hosted on the CDN is located at this scheme-relative URL:

Please provide a reliable and documented way for API users to determine the full scheme-relative CDN asset URL with the returned information. Presently it is necessary to know th

[2014-08-20 15:25] megawac opened #49 "Add /trending"
As I mentioned [here](https://github.com/jsdelivr/beta.jsdelivr.com/issues/14#issuecomment-52367608), it'd be cool to have a trending hook that scrapes https://github.com/trending?l=javascript periodically or uses https://github.com/ricburton/trending.

We would then filter by what we host ofc.

[2014-08-26 02:58] fulldecent opened #50 "bootstrap/bootstrap Update project name to match URL part"
Please update

[code]

Which name is currently `twitter-bootstrap` to instead be `bootstrap`. This is more consistent to the asset URLs which are used, which include for example:

With information from #48, a linter can quickly for further inconsistencies in project names.

[2014-08-27 02:28] Mparaiso opened #52 "jsdelivr api's down"
Hi the api is down (404) (4:28 GMT+1) , not the first time , maybe you should had a status check system ( and a status page ) for the next version

[2014-08-27 02:29] #52 closed, assigned to nobody

[2014-09-01 01:15] fulldecent opened #53 "Cannot GET /v1/jquery/libraries"
![screen shot 2014-08-31 at 9 15 49 pm](https://cloud.githubusercontent.com/assets/382183/4103806/85665cc6-3175-11e4-8f50-544e2e389425.png)

[2014-09-02 20:30] MickeyKay opened #54 "Incorrect .woff font path in v 4.2.0"
The .woff font path included in the minified stylesheet for v 4.2.0 is incorrect, which is causing failures on TONS of sites that are using it.

The path is:

[code]

Notice the /sfonts/ part. This should be /fonts/. The original Github and MaxCDN versions of this seems to be correct, but for some reason the jsDelivr version is not. Would love to see this fixed ASAP. Thanks.

[2014-09-02 21:50] #54 closed, assigned to nobody

[2014-10-10 21:55] #48 closed, assigned to nobody

[2014-10-10 22:17] fulldecent opened #55 "Add library/assets/urls"
The call to http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery includes output such as:

    "assets": [
      {
        "version": "1.10.0",
        "files": [
          "jquery-1.10.0.min.map",
          "jquery.js",
          "jquery.min.js"
        ]
      },
      ...

However, since this API relates to files available on Content Delivery Networks then each entry here implicitly repres

[2014-11-06 19:10] #43 closed, assigned to nobody

[2014-11-06 19:10] #35 closed, assigned to nobody

[2014-11-21 17:19] jimaek opened #56 "Better BootstrapCDN output"
More info https://github.com/MaxCDN/bootstrap-cdn/issues/460

[2014-12-08 15:31] #50 closed, assigned to nobody

[2015-04-06 21:58] markcarver opened #58 "Bootstrap API down"
https://api.jsdelivr.com/v1/bootstrap/libraries returns:
```Cannot GET /v1/bootstrap/libraries```

[2015-04-07 01:54] UnbounDev commented on #58
Thanks for the report, we're looking into a fix for this now.

[2015-04-07 02:02] UnbounDev commented on #58
@markcarver there was an error regarding rate-limiting on the service that refreshes the status of the jsdelivr api db for bootstrap, we've fixed that and are working to ensure the error is handled appropriately in the future.

[2015-04-07 02:02] #58 closed

[2015-04-07 02:25] markcarver commented on #58
Awesome :) Thanks for such an amazing API! I maintain the [Drupal Bootstrap base-theme](https://www.drupal.org/project/bootstrap) and, even though I have a fail-safe in place in case it goes down, I got a ping over in the #drupal-bootstrap IRC channel on freenode that it was down.

FWIW, this explains how the base-theme uses the API https://www.drupal.org/node/2452617

[2015-04-07 06:34] UnbounDev commented on #58
That's seriously cool! You'll be happy to learn that the fix we've just pushed includes significant enhancements to the stability of bootstrap library hosting, cheers - and thanks for using jsdelivr :)

[2015-04-14 10:30] hubdotcom commented on #53
Either remove this reference from Readme.MD or enable it? https://github.com/jsdelivr/api-sync/blob/master/config/config.template.js

[2015-04-14 15:29] UnbounDev opened #59 "/v1/bootstrap/libraries/css/font-awesome.css returns 500"
Never mind that the request URL is inappropriately formatted, the response is an express stacktrace:

[code]

The response ought to cleanly resolve the error and return a helpful message to the caller.

[2015-04-22 18:27] jimaek opened #60 "Add Pingdom data"
I want to create a special endpoint that will serve uptime data per provider.
The data will be pulled from Pingdom's API every 4 minutes.
We need to extract the status of each provider and format it in a way Cedexis can eat it. (Example Fusion apps http://developers.cedexis.com/)

The point is to add an additional monitoring level to jsDelivr.
Our load balancing will use these endpoints to pull da

[2015-05-10 09:47] jimaek opened #62 "Add analytics"
I am now parsing our access logs and populating a mysql DB with the number of hits per project.

What is the best way to make this data public? Should we create a new endpoint e.g. `api.jsdelivr.com/v2/analytics/` or just a new field inside each project with the reporting data?

I guess api-sync can pull the data itself from the DB(and cache it), right? No need for me to write a proxy between the

[2015-05-10 12:30] megawac commented on #62
Do you keep any records of the version being downloaded
On May 10, 2015 5:47 AM, "Dmitriy Akulov" <notifications@github.com> wrote:

[2015-05-10 12:40] jimaek commented on #62
No, just the number of hits for each project, all files and all versions in a single day.

[2015-05-10 12:48] jimaek commented on #60
@UnbounDev Please have this task in mind when rebuilding api-sync. Same goes for https://github.com/jsdelivr/api/issues/62

[2015-05-11 07:56] UnbounDev commented on #62
The data for analytics is rarely in sync w/ the actual library API data (since #60 specifies a 4 min sync cycle), for that reason alone I'd prefer to keep this on a separate endpoint (e.g. /v2/jsdelivr/**analytics**/fontawesome or /v2/jsdelivr/**metrics**/fontawesome) - but the separate endpoint also allows us to expand the data exposed by analytics w/o worrying about increasing standard API paylo

[2015-05-12 16:35] jimaek commented on #62
To be clear, the pingdom data (4 min sync) and this are completely separate.
I control the DB and its contents so you can hit as often as you can as long as we follow the best perf practices. The data on analytics is also not real-time. (for pingdom its crucial to have real time data to pick up downtime)
KeyCDN has a delay of 10 minutes. CloudFlare 30 minutes. MaxCDN 3 hours.

A separate endpoint

[2015-05-13 07:54] UnbounDev opened #65 "Expand error object for use across multiple versions of the API"
Issue brought up in PR #63 - it'd be nice to have a standard `APIError` object for simplifying code.

[2015-05-19 03:20] UnbounDev commented on #28
Given #62, we're now planning to serve more than just the `libraries` resource (e.g. `/jsdelivr/analytics`) - can we close this issue?

[2015-05-19 08:56] jimaek commented on #28
Yes, I think it makes sense. Our API got bigger

[2015-05-19 08:56] #28 closed

[2015-05-20 00:06] thekondrashov opened #67 "Issue with CORS support"
The response of any requests to public api doesn't contain any CORS headers, including this important header:
[code]
You can check this with the developer tools in your browser or [here](http://tools.pingdom.com/fpt/#!/eQDczd/https://api.jsdelivr.com/v1/jsdelivr/libraries) (from Pingdom).
Without this header, it is impossible to make CORS requests.

[2015-05-20 19:47] UnbounDev commented on #59
Fixed as of PR #63

[2015-05-20 19:47] #59 closed

[2015-05-21 12:25] jimaek opened #68 "Include the mainfile fix"
https://github.com/jsdelivr/api-sync/issues/27

[2015-05-22 18:44] jimaek commented on #60
Btw this endpoint is going to be used inside `cdn.jsdelivr.net` which means that it has the power to impact the whole service. Thats why we need to make sure it works and serves the latest possible data without running into rate-limits.

[2015-05-23 06:24] UnbounDev commented on #60
@jimaek do you have any examples of the Pingdom api endpoints we'd want to use for this? Also, there are a lot of applications listed on http://developers.cedexis.com - which one am I looking for as a reference to desired format?

[2015-05-23 09:30] jimaek commented on #60
Not sure what you mean.

Here are some examples using Fusion.
https://github.com/cedexis/openmixapplib/blob/master/apps-javascript/load-external-config/app.js
https://github.com/cedexis/openmixapplib/blob/master/apps-javascript/ortt%2Bfusion-health/app.js
https://github.com/cedexis/openmixapplib/blob/master/apps-javascript/fusion-custom-get-json/app.js

[2015-05-23 09:44] jimaek commented on #31
I dont think we need to host Yandex. They are not that popular.

[2015-05-23 09:44] #31 closed

[2015-05-23 11:36] jimaek commented on #67
@thekondrashov This should be fixed, can you try again please?

[2015-05-23 11:37] #55 closed

[2015-05-23 14:18] UnbounDev commented on #60
Sorry - I meant do you know which Pingdom api endpoints to hit for that data (before I go digging through their docs)?

[2015-05-23 14:39] jimaek commented on #60
Should be this one https://www.pingdom.com/features/api/documentation/#ResourceChecks

[2015-05-23 17:56] thekondrashov commented on #67
Yes, now it works fine. Thank you.
Could you also add support JSON-P callbacks like [Github API](https://developer.github.com/v3/#json-p-callbacks)?

It will be very cool:
[code]

[2015-05-24 03:51] tomByrer commented on #60
Would it be better to have a different app/server, to make things easier to develop & uptime?
The URL can be redirected, I'm just thinking there should be a separate repo (jsdelivr/api-pingdom) & Docker image.

[2015-05-24 08:25] jimaek commented on #60
An other App to monitor and debug... I think its simple enough to get this data into our existing API.

[2015-05-25 20:55] UnbounDev opened #70 "Sync w/ only those libraries that have been updated via api-sync during a sync cycle"
Depends on https://github.com/jsdelivr/api-sync/issues/29 (further information provided on that issues page).

[2015-05-25 20:58] jimaek opened #71 "API v2 Feedback/Ideas"
We are actively working on v2 of our API and since most of you are using or have used our API in the past I wanted to listen to your ideas and feedback that you might have.  [This is what we have so far](https://github.com/jsdelivr/api/issues?q=is%3Aopen+is%3Aissue+label%3Av2)

Let me know what changes you would like to see to make v2 even better and more powerful.

@MickeyKay @bebraw @gavinhungry

[2015-05-25 21:00] UnbounDev opened #72 "Add support for conditional requests"
Allow users to pass in the header `"If-None-Match: <eTagValue>"` to support returning a fast `304` status code and no body so developers can utilize local caching. (depends on https://github.com/jsdelivr/api-sync/issues/29).

[2015-05-26 04:44] markcarver commented on #56
If there were an easier way to extract the necessary information for the variation of bootstrap & "themes" (from Bootswatch) it would help reduce/eliminate the following code:

http://cgit.drupalcode.org/bootstrap/tree/includes/cdn.inc#n121

Especially the need for this:
http://cgit.drupalcode.org/bootstrap/tree/includes/cdn.inc#n224

[2015-05-26 04:46] markcarver commented on #56
#15 would semi-help with this I believe, but this issue goes a little further in "filling out" the missing/required assets... which may, incidentally, be more of a BootstrapCDN issue?

[2015-05-26 11:56] bebraw commented on #71
You can get Dotcom monitor data easily through the interface we implemented for cdnperf. Here are the [API docs](http://wiki.dotcom-monitor.com/programming-interfaces/using-the-xml-reporting-service-xrs/). So it's just a matter of parsing that and mapping to an endpoint. Maybe start with Pingdom first since there's a nice client available and you can get more data through it.

[2015-05-26 12:39] jimaek commented on #71
@bebraw We only need the uptime data from Pingdom, not the performance. So there is no need to combine multiple tools. Pingdom should be reliable enough to detect downtime across all of our CDNs.

[2015-05-26 12:44] bebraw commented on #71
Ok, Pingdom is more accurate for uptime anyhow.

[2015-05-26 18:29] jimaek commented on #71
@bebraw Anything we can add/change to improve our integration with osscdn.com?

[2015-05-26 18:44] bebraw commented on #71
@jimaek I can see one thing - pagination (old API **might** have it, not sure). If you have that, you can do dynamic loading on scroll etc. A good feature to have anyhow.

It might go beyond the scope of the API but you could consider setting up a service to get screenshots for libraries and so on. That'll help to improve the outlook somewhat.

[2015-05-27 18:57] jimaek commented on #67
@UnbounDev Does it make sense to add this feature? What do you think?

[2015-05-27 18:59] jimaek opened #73 "jQuery CDN support"
https://github.com/jsdelivr/api/issues/53

We need to find a good origin of information for jQuery and make sure it doesnt break

[2015-05-27 18:59] #53 closed

[2015-05-27 19:03] jimaek opened #74 "Remove useless fields"
[code]
These can die in peace.

Also do we need `"$loki": 858` ?

[2015-05-27 19:09] jimaek opened #75 "CDNjs improvements"
http://api.jsdelivr.com/v1/cdnjs/libraries?name=jquery

1. `author": null,`
2. Each file has a `size` parameter. Do we need it? I think we can remove it and save the resources
3. `github` is empty but I think we can populate it

Any other improvements we can do?

[2015-05-27 19:13] jimaek opened #76 "Bootstrap improvements"
http://api.jsdelivr.com/v1/bootstrap/libraries
1. Remove or populate all the empty fields
2. Take into account this https://github.com/jsdelivr/api/issues/56
3. This is completely broken

[code]

[2015-05-28 03:38] tomByrer commented on #74
https://github.com/jsdelivr/api/issues/33#issuecomment-41080955 ?
And having a 2nd field for the many JS+CSS projects (eg Bootstrap) would be useful.

[2015-05-28 03:41] tomByrer commented on #71
I'm mostly focused on finding a project on [multiple CDNs](https://github.com/jsdelivr/api/issues/16) in a single API call.  This could also allow all the CDN sources give the same output.

[2015-05-28 08:09] jimaek commented on #74
mainfile2 was a test but got replaced by the mainfile per version which is live to this day.

[2015-05-28 17:06] UnbounDev opened #77 "Add support for jsonp callbacks"
Use the express `res.jsonp()` response type to allow jsonp callbacks.

See #67 for background info.

[2015-05-28 17:08] UnbounDev commented on #67
I don't see why not, express makes this ridiculously [easy](http://expressjs.com/api.html#res.jsonp). I've added issue #77 for this.

[2015-05-28 17:10] jimaek commented on #67
Great, im closing this then.

[2015-05-28 17:10] #67 closed

[2015-05-28 17:11] jimaek commented on #77
@UnbounDev Btw all the v2 tagged issues should mostly be applied to v2 and not v1. If you are unsure about one then ask me. For example we should not add jsonp to v1.

[2015-05-28 18:35] thekondrashov commented on #67
Thanks

[2015-05-28 20:26] UnbounDev commented on #77
Sounds good!

[2015-05-29 04:09] tomByrer commented on #74
Ah, sure let them go, unless you want to give a new purpose to use
`mainfile2` mean a second main (eg CSS).

On Thu, May 28, 2015 at 2:09 AM, Dmitriy Akulov <notifications@github.com>
wrote:

[2015-06-01 18:31] megawac opened #78 "Closest matching"
A query endpoint to find the closest match would be extremely convenient (current use case is duckduckgo spice answers).

What this would involve is determining the library that matches a query as close as possible (e.g. `jwuery` may match `jquery` if `jwuery` is not a library). Another thing this should support is searching for plugins

[code]

There should be an arbitrary threshold to cut off in

[2015-06-01 18:41] jimaek commented on #78
What would be the response? Just the correct project name to further query using `http://api.jsdelivr.com/v2/jsdelivr/{correctName}`?

[2015-06-01 18:43] megawac commented on #78
Yep, that's what I'm imagining

[2015-06-01 18:44] jimaek commented on #78
What if multiple projects match the request? Do we return all of them? Just the first one? How to prioritize?

[2015-06-01 18:45] megawac commented on #78
I think it should always return the closest match and one of them as this already exists
[code]

[2015-06-01 18:48] jimaek commented on #78
`http://api.jsdelivr.com/v1/jsdelivr/libraries?name=*jq*`
Returns like 15 projects with full data :)

Your solution is going to return only 1 and only the name?
Like this?
[code]

[2015-06-01 18:51] megawac commented on #78
I was thinking with full data (for the DDG use case)

[2015-06-01 18:52] jimaek commented on #78
If its going to return full data then maybe it makes no sense to use a separate endpoint?
This way it would be cleaner `http://api.jsdelivr.com/v2/jsdelivr/{searchQuery}`

[2015-06-01 18:58] megawac commented on #78
`http://api.jsdelivr.com/v2/jsdelivr/{searchQuery}` or `http://api.jsdelivr.com/v2/jsdelivr/name={query}`
?

[2015-06-01 19:00] jimaek commented on #78
Its the same thing I believe https://db.tt/QqVwFcmA

[2015-06-01 19:04] megawac commented on #78
K but this is a different endpoint

On Mon, Jun 1, 2015 at 3:00 PM, Dmitriy Akulov <notifications@github.com>
wrote:

[2015-06-01 19:25] jimaek commented on #78
Ok, then I guess `http://api.jsdelivr.com/v2/jsdelivr/name={query}` makes more sense. What do you think?

[2015-06-01 19:41] megawac commented on #78
Agreed!

On Mon, Jun 1, 2015 at 3:25 PM, Dmitriy Akulov <notifications@github.com>
wrote:

[2015-06-01 19:48] megawac commented on #10
Related to #78 /cc @tomByrer

[2015-06-01 20:38] jimaek commented on #16
Due to lack of bulletproof normalized names I think we can close this issue as its very hard to do.

[2015-06-01 20:38] #16 closed

[2015-06-01 20:40] jimaek commented on #13
Closing because I dont see a good solution to this problem that will work with every single project we host (and others host)

[2015-06-01 20:40] #13 closed

[2015-06-01 20:43] megawac commented on #16
Do you think this cannot be done *well enough* through some hybrid matching:

[code]

[2015-06-01 20:44] jimaek commented on #16
yes, we have some pretty big differences in some projects. Some are hosted only on a single CDN as well. I dont see a solution to every single problem we would have

[2015-06-01 20:55] jimaek commented on #17
We already do Gzip thanks to MaxCDN that is in front of the API server. I think we can close this.

[2015-06-01 20:55] #17 closed

[2015-06-01 20:55] #30 closed

[2015-06-01 20:57] jimaek commented on #47
@UnbounDev Can we add this data? How often do we purge the CDN? If this data stays cached then it will be useless and no point adding it in the first place

[2015-06-01 20:58] #49 closed

[2015-06-01 20:59] jimaek commented on #10
https://github.com/jsdelivr/api/issues/78

[2015-06-01 22:15] tomByrer commented on #13
I don't see why an automated script could not pick a name out of a tiered prioritized list of sources?  A few (1%?) could need human interaction, but some of jsdelivr/jsdelivr needs human interaction anyhow.

[2015-06-01 22:18] tomByrer commented on #16
Or just use all the names in all available CDNs (array)?  Might make some projects easier to find.

[2015-06-02 00:29] UnbounDev commented on #75
1. 3. : if these can be solved (I believe they can) it is an api-sync issue.
2. Nope, I kept it around b/c it was present in the previous response from the cdnjs api - we can toss it but that will effect api v1 as well (b/c we would be dropping this from api-sync).

[2015-06-02 00:37] UnbounDev commented on #47
The lokijs db we're using includes a `meta` field, e.g.
[code]

where `created`/`updated` are timestamps relating to when that particular project was initalized/updated w/i the api - is that sufficient or is it desirable to have a 'master' meta file?

[2015-06-02 00:38] UnbounDev commented on #68
This has already been implemented in api-sync, and the changes propagated to api, can we close this issue?

[2015-06-02 00:57] UnbounDev commented on #74
@jimaek we could shape the responses s.t. there is no `$loki` (it is used internally to identify the object w/i the lokijs db); however, this would require creating an object that has all elements **except** `$loki` - that's not so bad for calls that request a single library but can be murder when a user requests all libraries w/i the api.

[2015-06-02 01:17] UnbounDev commented on #15
Given the addition of a `mainfile` per version, would it not be desirable to maintain a nested architecture? E.g.
[code]

[2015-06-02 01:19] megawac commented on #15
Looks reasonable and future proof

[2015-06-02 08:23] jimaek commented on #75
Ok. I think we can toss it from v1 as well.

[2015-06-02 08:23] jimaek commented on #47
Yes but how often do we purge the CDN cache?

[2015-06-02 08:23] #68 closed

[2015-06-02 09:15] jimaek commented on #16
What you say sounds more like a `/search` endpoint that allows the search through all the CDNs we have. But it wont work for the main endpoint to get a project's info.

[2015-06-02 12:20] tomByrer commented on #15
I agree.

[2015-06-02 13:27] megawac opened #84 "Match versions by ~semvish compatibility"
I'd like to see versions matched by `semvish` compatibility rather than regex. For example

[code]

I'd also like to see `lastversion` -> `version`

Related to https://github.com/jimaek/jsdelivr-g/issues/2

[2015-06-02 13:32] megawac opened #85 "Filter /libraries responded when version parameter provided"
`/libraries` should use the `_selectVersionFiles` helper when given `?version` (related to #84)

[2015-06-02 13:41] megawac opened #86 "Exact matching for alias path"
Alias path should use exact path rather than minimatch path

As discussed in gitter this shouldn't really work, and instead try to use exact match

[code]

[2015-06-02 15:38] megawac opened #87 "Regression: /libraries/{project}/{version} broken on v2 branch"
On v2 branch the following url 404s

http://localhost:8001/v1/jsdelivr/libraries/jquery/2.1.4

[2015-06-02 15:40] #87 closed

[2015-06-02 16:35] megawac opened #88 "Drop assets from /libraries"
Related to adding the `/library` route

Proposition

- Purpose of `/library/*`: determine everything about a library that matches the query, including
   - name
   - description
   - versions
   - meta
   - assets
- Purpose of `/libraries/*`: get a summary of all libraries that matches the query, including
   - name
   - description
   - versions
   - meta

This should make `/libraries` responses

[2015-06-02 18:38] jimaek commented on #88
As long as we make our documentation super clear then I support this. Otherwise we will need assets in /libraries to point to /library

[2015-06-03 02:54] UnbounDev commented on #47
@jimaek after each sync cycle (~10 minutes)

[2015-06-03 04:20] UnbounDev commented on #56
@jimaek we can do this but we'd essentially have to replicate @markcarver's parsing logic. This would be done in api-sync and would result in an enhanced bootstrap/bootswatch assets array, ala

[code]

Unless I'm misunderstanding the issue, this would be a singular case that does not apply generically to any other library w/i the bootstrap cdn.

[2015-06-03 06:21] tomByrer commented on #88
Sorry, I don't know what `meta` is.

Is `/library` a single exact search, or best fuzzy search?

Could `/libraries/*` search across all CDNs?  Thanks to the smaller subset of returned data, don't have to worry about merging data.

[2015-06-03 06:37] #75 closed

[2015-06-03 06:59] UnbounDev commented on #75
@jimaek this is fixed via an api-sync enhancement.

http://api.jsdelivr.com/v1/cdnjs/libraries?name=jquery

[2015-06-03 07:02] UnbounDev commented on #88
`meta` contains information on when the applications records were created and updated (relative to an individual library w/i a CDN); e.g.

[code]

We get this object for free from the internal lokijs db.

[2015-06-03 08:33] jimaek commented on #47
Hmm then I guess this issue is fixed. @UnbounDev Can you note somewhere to make sure we document this feature?

[2015-06-03 08:33] #47 closed

[2015-06-03 08:39] jimaek commented on #56
@UnbounDev How would the response format differ from our normal one in v2?

[2015-06-04 00:52] UnbounDev commented on #56
The structure of `assets` would differ; ala ~

- Normal v2 `assets`
[code]

- Bootswatch library v2 `assets`
[code]

@markcarver is that the format you're looking for?

[2015-06-04 00:57] UnbounDev commented on #65
This was fixed by @megawac in 9ad3e703605593dab57e01a82af7f414a425bc86

[2015-06-04 01:04] UnbounDev commented on #70
Depends on https://github.com/jsdelivr/api-sync/issues/29

[2015-06-04 01:46] markcarver commented on #56
Sorry, I've been a little busy lately. I'll try to word this a little differently and give some examples.

I don't think these need a dedicated `themes` category per se. They can, in theory, still remain in `assets` (like #15 suggests).

I don't think it really has much to do with how jsDelivr actually provides them via the API exactly, but I could be wrong. I still think the issue really lies in

[2015-06-04 01:57] markcarver commented on #56
Oh, I guess I should also mention that I'm not entirely expecting all those variations met per se, more so that they are, at the very least, nested under the version and each respective "theme" name (as well as including the missing assets too).

I am certainly capable/willing to parse out the additional variations of css/js/min via based on matching the endings of the files:
[code]

[2015-06-04 02:03] markcarver commented on #56
Also, I realize that my examples have the following base paths in them:
`//cdn.jsdelivr.net/bootstrap/3.3.4/`
`//cdn.jsdelivr.net/bootswatch/3.3.4/`

Currently these aren't included, but maybe they should be? I'm not entirely sure, especially given that these are technically two different repositories/libraries? I'm not sure how that actually works, because I thought it was provided by a single pr

[2015-06-04 02:19] UnbounDev commented on #56
Thanks for the details!

The JsDelivr data is not taken from the bootstrap api, rather, it is taken by scraping the relative github repo (an example being this folder relating to the [bootswatch 3.3.4 version](https://github.com/MaxCDN/bootstrap-cdn/tree/develop/public/bootswatch/3.3.4)). This scrape is currently generic across all CDN's served by the API, as is the format of the associative `asse

[2015-06-04 02:38] markcarver commented on #56
Yes, I thought that's what jsDelivr did (scrapping), but it is still just scrapping the single BootstrapCDN's repo (just in the bootswatch sub-folder).

i.e.:
https://github.com/MaxCDN/bootstrap-cdn/tree/develop/public
vs.
https://github.com/thomaspark/bootswatch

That's why I was thinking this is still somewhat of a BootstrapCDN issue (to provide the proper data structure to begin with)?

Yes, I

[2015-06-04 04:06] tomByrer commented on #88
Ah, data about the record(s).  Thanks I understand now.

[2015-06-04 04:49] #86 closed

[2015-06-04 04:49] #78 closed

[2015-06-04 04:51] megawac commented on #84
@jimaek thoughts? Should this supercede #39 or is that issue better

[2015-06-04 08:43] jimaek commented on #84
I believe `semvish` is more powerful so this issue is looking better. Do you agree?

[2015-06-04 08:48] jimaek commented on #56
Cant we just consider each theme as a separate project and keep the exact same structure and format for all CDNs?

[2015-06-04 16:10] UnbounDev commented on #56
It's a good idea but we'd be losing the ability to see that those libraries actually belong to `bootswatch`, they'd have to be prefixed w/ something (i.e. `bootswatch.<themeName>`) and it would mean parsing all bootswatch theme library versions into their own library bucket on the back end (in api-sync). All of that is making this feel more like a hack.

[2015-06-04 16:12] jimaek commented on #56
I guess its  `bootswatch.<themeName>` vs special structure just for Bootstrap.
I personally vote for `bootswatch.<themeName>` what everyone else thinks?

[2015-06-04 16:50] megawac commented on #84
Definetely agree, I would like to drop most of the minimatch stuff in `v2` for more modern approaches.

However, if this goes in I think `jsdelivr-g` will also need a similar change

[2015-06-04 16:52] #39 closed

[2015-06-04 16:55] jimaek commented on #84
I dont have plans to change the logic of `jsdelivr-g` in the near feature unfortunately. Do you want to add it only to the API?

[2015-06-05 14:31] megawac opened #92 "/v2/jsdelivr/library should 404"

[2015-06-06 18:57] UnbounDev commented on #56
@markcarver I'll defer judgement to you as you have the most insight into this use case; would you find a special structure just for the `bootswatch` library or the `bootswatch.<themeName>` approach more suitable?

[2015-06-08 17:20] jimaek commented on #62
I am thinking something like this:
[code]

Do you think we can make `api.jsdelivr.com/v2/analytics/` show data for all the projects we host or its too much data to show?
Any feedback?

[2015-06-08 17:26] jimaek commented on #60
@UnbounDev or @megawac Can we start this? A simple json as output is enough, we can parse it out on the Cedexis side. The important is to have live data without hitting Pingdom limits.

[code]

[2015-06-08 17:27] jimaek commented on #60
Btw its only for v2

[2015-06-09 07:10] UnbounDev commented on #62
If we really only intend to serve 'hit count per day' metrics this works find, but this does leave us w/o the ability to add metric types at that endpoint. I am a little concerned about the amount of data load this could cause the API to hold in memory (all libraries metrics, for what period of time?), perhaps this endpoint should query your mysql db?

@jimaek the point I was making before (about

[2015-06-09 07:13] UnbounDev commented on #60
@jimaek we're close to being able to start this task; the physical code would go inside of the tasks/sync portion of the API, that code is currently being worked on for the new sync process - after we deploy that code to production (along w/ the corresponding api-sync code) we should be able to tweak the tasks to accommodate this feature.

[2015-06-09 08:24] jimaek commented on #62
@UnbounDev I still dont get it.

You mean `api.jsdelivr.com/v2/analytics/`?

Why would you do that?

I agree that you can specify the TTL for in-memory caching to be very low and query the DB much more often.

[2015-06-09 16:11] UnbounDev commented on #62
Oh I see the confusion; an example of what I'm suggesting is this:

1. Call is made to, say, `api.jsdelivr.com/v2/jsdelivr/library/bootstrap`.
2. Response from query is sent to the endpoint user.
3. After the call, an 'update analytics' call is made to SQL; either creating the row `bootstrap ; <date>; <counter>` or updating the corresponding rows `<counter>` column.

I'm suggesting this as an alte

[2015-06-09 16:18] jimaek commented on #62
I think you are confused about what the analytics are. They are not API analytics, but CDN analytics.
MaxCDN/CloudFlare/KeyCDN logs are all parsed and then made available in the DB.
All you have to do is pull the data from there.

So if someone opens `//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js` in his browser then thats +1 hit for jquery.

[2015-06-09 16:23] UnbounDev commented on #62
You're entirely correct - I thought we were parsing our own access logs, thanks that clears up my confusion.

[2015-06-09 16:24] jimaek commented on #62
Great :) So back to the point. I purpose this https://github.com/jsdelivr/api/issues/62#issuecomment-110081984

[2015-06-11 02:26] #70 closed

[2015-06-11 20:51] markcarver opened #94 ""bootstrap" alias is gone in v1"
I think this is related to the work in #69, but basically the folder alias that BootstrapCDN has is no longer in v1 of the API: http://api.jsdelivr.com/v1/bootstrap/libraries?name=bootstrap.

I understand this change is likely needed/wanted, but it should only have affected v2. This is technically a regression for v1 as it has affected [existing code](http://cgit.drupalcode.org/bootstrap/tree/incl

[2015-06-11 20:58] markcarver commented on #94
x-ref: https://github.com/MaxCDN/bootstrap-cdn/blob/develop/public/bootstrap

[2015-06-11 21:10] UnbounDev commented on #94
@markcarver thanks this is an oversite on my part  - I'll have a fix up momentarily

[2015-06-11 21:31] #94 closed

[2015-06-11 21:33] UnbounDev commented on #94
@markcarver the fix is deploying now - turns out the original `twitter-bootstrap` library was being aliased to `bootstrap` under the old sync structure, it didn't fit well, the patch I've just submitted should be through shortly.

[2015-06-11 21:35] markcarver commented on #94
Awesome :) Thanks for the quick turn around! Can I assume that in v2 this alias will be gone?

[2015-06-11 21:38] UnbounDev commented on #94
It's up! http://api.jsdelivr.com/v1/bootstrap/libraries?name=bootstrap (you may need to hit the refresh button) - no worries, sorry about the mixup.

That's a question for @jimaek, I'm okay w/ keeping it but I'd like to do so w/ proper code on the api-sync side (the little hack I just patched isn't the cleanest :)

[2015-06-11 21:42] markcarver commented on #94
Fair enough. I have already gone and [patched Drupal Bootstrap](http://cgit.drupalcode.org/bootstrap/commit/?id=a2e9cd1) to use the real library name `twitter-bootstrap`  (just in case it does).

[2015-06-12 08:03] jimaek commented on #94
@markcarver Sorry for this issue, I hope it didnt severely impact your app. I will make sure this wont happen again

@UnbounDev No need for hacks in `v2` its not backwards compatible. Lets make it clean and fast. Also be careful with v1, we cant break anything.

[2015-06-13 22:57] #74 closed

[2015-06-13 22:57] #10 closed

[2015-06-14 19:55] jimaek opened #96 "Remove X-Requested-With"
Remove `Access-Control-Allow-Headers: X-Requested-With` please

[2015-06-14 19:58] #96 closed

[2015-06-20 16:03] megawac commented on #84
Working towards this with https://github.com/megawac/SemVish/commit/a02cf2378c662bfbce34e1c77c78a5559ff815da

[2015-06-23 12:36] jimaek commented on #62
Ping @megawac and @UnbounDev
The analytics DB is accessible, ping me to give you the access info.

[2015-06-23 12:48] jimaek opened #99 "Make sure logentries is utilized"
Log what is needed to debuging and remove what is not needed.

@megawac @UnbounDev  You both have access to our Logentries account, check out jsDelivr API host and what it currently logs. I want to make sure our logs are useful

[2015-06-23 13:02] jimaek commented on #60
Cedexis Fusion will be pulling our API every minute. This means that every time they pull we need to have a new live value from Pingdom.
Format:

[code]

5 = online
0 = down

### Question
Should we pull the uptime info ourselves from Pingdom or use their webhook functionality? https://support.pingdom.com/Knowledgebase/Article/View/94/0/users-and-alerting-end-points

[2015-06-23 13:05] megawac commented on #60
I'd say webhook, but either is fine

[2015-06-23 13:05] jimaek commented on #60
Note to self: Make sure we dont cache these values on the CDN.

[2015-06-24 17:48] UnbounDev commented on #99
@megawac - I've previous 'logentrieified' `api-sync` and have a wrapper built there, I'll optimize/integrate that code w/ `api` if you don't mind.

[2015-06-24 18:18] megawac commented on #99
Go for it
On Jun 24, 2015 1:48 PM, "Austin Brown" <notifications@github.com> wrote:

[2015-08-19 18:22] #92 closed

[2015-08-19 18:22] #88 closed

[2015-08-19 18:23] #85 closed

[2015-10-08 12:57] jimaek opened #104 "Version sorting"
http://www.jsdelivr.com/projects/react

https://github.com/jsdelivr/jsdelivr/issues/7281

The site uses the API sorting. We should short the versions correctly in the API by default. 0.14.0 > 0.14.0-rc1 > 0.14.0-beta1

[2015-10-08 13:28] MartinKolarik commented on #104
[Here's the code](https://github.com/jsdelivr/www.jsdelivr.com/blob/df5f6febb8ac59bad7d53bb788ee430c30cfb942/js/update/lib/version-compare.js) we were previously using.

[2015-10-08 15:28] spicyj commented on #104
I'd just use the semver package: https://www.npmjs.com/package/semver.

[2015-10-08 15:32] MartinKolarik commented on #104
The problem is that not all projects use semver and IIRC that package requires valid semver versions.

[2015-10-10 17:54] tomByrer commented on #104
Plus sometimes a project will switch between valid & invalid semver.  Sometimes I feel like we should force our versions into valid semver to get around this.  I'm trying to think of real examples where the version is too strange; usually non-semver look like v1.003 or 20151016.

I think ` 0.14.0-rc1 > 0.14.0-beta1` will fail [compareStrings()](https://github.com/jsdelivr/www.jsdelivr.com/blob/df5

[2015-10-10 18:17] tomByrer commented on #104
I just remembered @megawac 's genius: https://github.com/megawac/SemVish.
& someone made a [CLI semverish](https://github.com/amoa/semverish)

[2015-10-10 18:22] MartinKolarik commented on #104
Nope, it works correctly.

[2015-10-11 17:25] UnbounDev commented on #104
This is ridiculously easy w/ [semver](https://www.npmjs.com/package/semver):

[code]

Now fixed in v2:
![selection_022](https://cloud.githubusercontent.com/assets/7390369/10417935/15d2e416-7002-11e5-8fb3-22cea12b8daa.png)

[2015-10-11 17:36] jimaek commented on #104
@UnbounDev Can you apply the sorting to v1 as well? The website is using v1's listing of all libraries in a single request

[2015-10-11 17:37] UnbounDev commented on #104
:+1: Will do

[2015-10-11 17:45] UnbounDev commented on #104
@jimaek fixed in #105

[2015-10-12 16:16] #104 closed

[2015-10-14 11:26] jimaek opened #106 "API returns no versions (urgent)"
https://api.jsdelivr.com/v1/jsdelivr/libraries?name=css3-metro-buttons
`"versions": [ ],`

@UnbounDev @megawac

[2015-10-14 12:11] megawac commented on #106
Is that with or without my changes? Is
https://github.com/jsdelivr/api/pull/105 still on the server?

Regardless, it works locally on api-sync (haven't tested on api)

On Wed, Oct 14, 2015 at 7:26 AM, Dmitriy Akulov <notifications@github.com>
wrote:

[2015-10-14 12:12] jimaek commented on #106
Currently I have `master` deployed. So all of your changes included

[2015-10-14 12:13] megawac commented on #106
@jimaek this ((https://github.com/jsdelivr/api/pull/105) needs to be reverted. It removes all versions which are semver incompatible. api issue not api-sync

[2015-10-14 12:13] #106 closed

[2015-10-14 19:53] jimaek opened #108 "Move the API away from AppFog"
They are closing their current service and forcing everyone to move to the new one. Its more expensive and lacks the CI support the v1 has.
Got to find alternatives.

[2015-10-14 23:39] tomByrer commented on #106
Reverting for now works, but I was thinking as a longer term solution to recast non-SemVer into compliant SemVer.
What do you think?

[2015-10-15 10:25] jimaek commented on #106
This is a long term solution.  megawac applied a fix to api-sync https://github.com/jsdelivr/api-sync/commit/1ab5e8227d6ad43cac4db9120760627da2e4bc1c

[2015-10-15 13:40] tomByrer commented on #108
Docker container, Node hosting, or "I don't care, just get it hosted!"?

[2015-10-15 14:13] jimaek commented on #108
Yeah, I think I will end up using Docker on my own server

[2015-10-15 15:20] UnbounDev commented on #108
Props if you can couple that deployment w/ a test `api#v2` application on the same box (it'd be nice to move away from appfog completely).

[2015-10-15 15:21] jimaek commented on #108
I was thinking we could use the free Heroku dyno for testing stuff. What do you think?

[2015-10-15 15:53] jimaek commented on #108
Done. The API is now hosted in a Docker container on my server. All commits into master are automatically deployed to production.

[2015-10-15 15:53] #108 closed

[2015-10-15 19:00] UnbounDev commented on #108
As long as we can set up autodeploy, free and testing go together well!

[2015-10-15 20:41] jimaek commented on #108
the v2 branch is now auto-deployed to https://jsdelivr-api.herokuapp.com/ (if Travis passes)

[2015-10-15 20:42] jimaek commented on #62
@UnbounDev
https://jsdelivr-api.herokuapp.com/v2/analytics/bootstrap
[code]

[2015-10-15 20:47] jimaek commented on #62
Sorry my mistake. Looks good so far! Thanks

[2015-10-15 20:47] #62 closed

[2015-10-16 13:31] tomByrer commented on #108
:+1:

[2015-11-02 10:58] nextgenthemes opened #109 "Am I right to assume that I cannot get data for multiple librarys with one api call?"
`http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery&fields=mainfile,name` fields works with comma.

`http://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery,bootstrap&fields=mainfile,name` however, this fails.

or can I do it differently without getting all the libs at once? If not that may be a idea for v2

[2015-11-02 11:28] jimaek commented on #109
Yes you cant do that with v1, but its a great idea for v2.

[2015-12-14 13:31] tomByrer opened #111 "Searching by URL"
Seems I can't search by "homepage" or "github".
Usecase; to see if a project is on jsDelivr if the GitHub project URL is available.

[2016-01-16 14:57] tomByrer opened #112 "jQuery failed to update latest beta1"
http://api.jsdelivr.com/v1/jsdelivr/libraries/jquery  Missing v 3.0.0 beta.
[Affecting website](https://github.com/jsdelivr/www.jsdelivr.com/issues/69)?

[2016-01-16 15:59] jimaek commented on #112
Cant say why it happened but after a restart it was fixed. If it happens again I will look into it in more detail

[2016-01-16 15:59] #112 closed

[2016-01-16 16:51] tomByrer commented on #112
"Unplug & replug the machine" is a common fix action ;)  v2.2.0 is listed now also BTW.
cheers

[2016-01-21 14:40] #37 closed

[2016-01-21 21:07] #14 closed

[2016-01-21 21:07] #34 closed

[2016-01-21 21:47] #15 closed

[2016-01-21 21:47] #65 closed

[2016-01-21 21:47] #72 closed

[2016-01-21 21:47] #73 closed

[2016-01-21 21:47] #77 closed

[2016-01-21 21:48] jimaek commented on #109
This is now present in v2 beta

[2016-01-21 21:48] #109 closed

[2016-01-22 02:57] tomByrer commented on #109
I'm guessing v2 is not live yet?

[2016-01-22 09:23] jimaek commented on #109
Its not. You can test it here https://jsdelivr-api.herokuapp.com/v2/jsdelivr/libraries

[2016-01-22 19:33] #71 closed

[2016-01-26 16:23] MartinKolarik commented on #56
@jimaek so we are going with each theme as a project named `bootswatch.<themeName>`, right?

[2016-01-26 16:38] jimaek commented on #56
yeah, lets do that

[2016-01-26 19:33] #56 closed

[2016-01-26 19:34] #99 closed

[2016-01-26 19:52] #76 closed

[2016-01-26 22:12] markcarver commented on #56
@jimaek I'm pretty sure v1 just got borked: http://api.jsdelivr.com/v1/jsdelivr/libraries/bootstrap (x-ref: https://www.drupal.org/node/2657138)

It no longer has the bootswatch stuff from BootstrapCDN

Shouldn't any changes made have only been applied to v2 stuff? I'm a little confused with how y'all are defining v1 and v2 stuff TBH. This isn't the first time that stuff like this has happened.

[2016-01-26 22:30] markcarver commented on #56
Sorry, wrong URL above:

http://api.jsdelivr.com/v1/bootstrap/libraries has the new `bootswatch.<theme>` entries, but it's v1! These changes should ONLY be showing up in v2... whatever that URL is...

Also, sorry for the late reply, I did not see https://github.com/jsdelivr/api/issues/56#issuecomment-109637810 till just now.

`bootswatch.<themeName>` is fine by me (I just saw the new structure). I

[2016-01-26 22:44] MartinKolarik commented on #56
@markcarver you are right. All versions use the same datastore and it isn't really possible to return a different list of projects for each API version (ok, it certainly *is* possible, but not without extremely ugly hacks), so this affected v1 as well.

I recognize that this is somewhat a breaking change, but I also don't think returning a different set of projects depending on whether you use v1

[2016-01-26 22:56] markcarver commented on #56
Um... no! The whole _reason_ APIs have "versions" is to assist with not _breaking_ other software that consumes it (which is also versioned and deployed itself).

https://www.drupal.org/project/bootstrap has >94,000 installs and y'all just broke every single one of those install's UIs (which relies on this API to provide versions and themes in a select dropdown https://www.drupal.org/node/2657138)

[2016-01-26 23:04] markcarver commented on #56
What is the point of the `v1` in the URL then??? I know it may not be "easy" on the backend, but a simple change in the URL to `v2` and bam, different results.

[2016-01-26 23:22] MartinKolarik commented on #56
The API version gives you a guarantee of where you can get the data (i.e., endpoints), and what shape the data are (i.e., response model). The data itself are (almost) always dynamic. If you were using GitHub API to get a list of files in a repository and the repository got deleted, you would end up in the same situation.

The only difference here is that with CDNs, once the files get published, w

[2016-01-26 23:50] markcarver commented on #56
Exactly........ which is what changed.........

What I'm talking about has absolutely nothing to do with the  "projects" or "files" themselves. The underlying BootstrapCDN/files really hasn't changed all that much, for a long time actually.

It has everything to do with how this "API" parses and reconstructs BootstrapCDN's assets into a **new** data modal. This process is what constitutes jsDelivr

[2016-01-27 00:10] mstenta commented on #56
I agree 100% with @markcarver on this one. I have hundreds of sites using the Bootstrap theme, and they are all currently broken because of this. This is the second time this has happened.

Can you please revert the commit until a proper solution is figured out?

[2016-01-27 00:54] mstenta commented on #56
Thanks for reverting @MartinKolarik - does this go live immediately, or is there a deployment process? Just want to know if I need to start putting out fires, or if they will go out by themselves...

[2016-01-27 00:58] MartinKolarik commented on #56
@mstenta If I could I'd have reverted it right away, but we need to wait for @jimaek to merge it. Expect a couple of hours as he's in UTC+1 timezone.

[2016-01-27 01:18] markcarver commented on #56
At first I thought this just affected the UI (which is still a pretty big bug), but it turns out that it actually causes sites to become completely broken after its Drupal cache has been cleared. Example: https://dreditor.org/

![dreditor](https://cloud.githubusercontent.com/assets/351902/12600687/388e0248-c461-11e5-867d-6f7c5c59893f.png)

I understand the timezone thing, here's hoping the revert

[2016-01-27 17:28] MartinKolarik commented on #56
Sorry for any problems that this caused. The change was reverted earlier today and the API now works as before.

@markcarver

To be honest, that seems like something that could be improved on your end. Once the user selects a theme, you can store the needed URLs in some kind of persistent storage. Even if the API went down, it shouldn't affect anyone except people trying to change the theme at tha

[2016-01-27 20:24] markcarver commented on #56
Sure. I can certainly take some responsibility here on that front. I'm not entirely sure how I'll do it though given how convoluted Drupal's theming system is. I'll likely have to manually build in even more redundancies.

I get this isn't a perfect world and things break. However, the "versioning" jsDelivr thinks it is providing needs some very serious refactoring as I have said in https://github

[2016-01-28 12:45] MartinKolarik commented on #84
I started working on this, but after finding out semvish can't handle all version formats, I don't think this is a good idea. We'd have to exclude those projects/versions from all `lastversion` searches.

[2016-01-28 12:46] jimaek commented on #84
I dont think that semvish is that important. If its too hard then lets skip this

[2016-01-28 12:52] MartinKolarik commented on #84
:+1:

[2016-01-28 12:52] #84 closed

[2016-02-09 12:34] MartinKolarik opened #117 "File paths"
Currently, file paths are relative to the project version. E.g:

[code]

To construct an absolute URL on the CDN, we can join the project name, version, and file name. This, however, does't work for jquery CDN, as they use different file structure, so for jquery CDN, we currently we return paths relative to the CDN root instead.

We discussed this with @jimaek and agreed it's probably OK to leave

[2016-02-09 12:39] MartinKolarik opened #118 "Incorrect author format for some CDNJS projects"
E.g. [jquery](http://api.jsdelivr.com/v1/cdnjs/libraries/jquery). Some other projects [are OK](http://api.jsdelivr.com/v1/cdnjs/libraries/twitter-bootstrap). @jimaek this should probably be fixed in v1 as well?

[2016-02-09 14:22] jimaek commented on #118
Lets leave v1 as is. How do you plan to fix http://api.jsdelivr.com/v1/cdnjs/libraries/jquery in v2?
What format would `author` have in this case?

[2016-02-09 14:29] jimaek commented on #117
What do you suggest in this case?

[2016-02-09 15:01] MartinKolarik commented on #118
I'd take the `name` property, so in this case `jQuery Foundation and other contributors`. If there's no `name`, it can be empty, but it certainly shouldn't be an object when it's supposed to be a string.

[2016-02-09 16:23] jimaek commented on #118
Ok, then lets do that. String in v2, dont change v1

[2016-02-09 16:46] MartinKolarik commented on #117
@jimaek Not sure.

@markcarver thoughts?

[2016-02-09 17:33] #118 closed

[2016-02-09 18:34] markcarver commented on #117
First, this issue should be tagged with `v2`. Thanks for cleaning up/solidifying the API versions btw!

---

I kind of touched on this issue and had similar concerns as I have previously mentioned in (starting at) https://github.com/jsdelivr/api/issues/56#issuecomment-108676345.

I think the specific version endpoint should really spit out the object that is already nested in the level above (e.g.

[2016-02-09 18:58] jimaek commented on #111
Added

[2016-02-09 18:58] #111 closed

[2016-02-09 19:26] MartinKolarik commented on #117
Sounds good, and it would work for the jquery cdn as well, although I'd probably change it to:
[code]

@jimaek what do you think?

[2016-02-09 19:40] markcarver commented on #117
Is there actually a technical reason why it can't be the entire URL? I cannot imagine this being the case since it would seem like a simple variable injection on your part.

`basePath` does not really solve the entire problem. This still means that consumers will have to do extra work (like I'm currently doing) to concatenate the fully qualified URL.

To give you an example of why this is importan

[2016-02-09 20:08] jimaek commented on #117
Well if we add a basepath parameter we might as well add the actual domain to it. I guess it would have to be configured in config.js since its rarely changed and its not possible to autodetect.
Any idas @MartinKolarik ?

[2016-02-09 20:13] MartinKolarik commented on #117
There is no technical reason not to include the domain, I just didn't see the point. If it really changed, i'd break all the sites relying on the CDN. I just checked and `netdna.bootstrapcdn.com` still works.

@jimaek yes, config.js would be the right place.

[2016-02-09 20:35] markcarver commented on #117
Sure. There's always a debate determining whether a URL should be absolute or relative. From my experience with APIs (especially [popular ones](https://developer.github.com/v3/repos/contents/#response-if-content-is-a-directory)), I would say that absolute URLs tend to offer more "stability" for end user consumption. This allows the user to simply consume what it's given instead of having to worry

[2016-02-09 20:47] jimaek commented on #117
So we need to add 2 parameters?
[code]

Will this fix all of our current issues?

[2016-02-09 20:50] markcarver commented on #117
No, not unless anyone really thinks that's truly needed.

A single fully qualified URL parameter should be all that's needed:
[code]

[2016-02-09 20:52] MartinKolarik commented on #117
Ok, let's go with `baseUrl`. That should be enough.

[2016-02-09 20:52] jimaek commented on #117
:+1:

[2016-02-10 11:27] #117 closed

[2016-02-10 11:39] jimaek commented on #117
@markcarver What do you think? https://jsdelivr-api.herokuapp.com/v2/jsdelivr/library/jquery

[2016-02-10 11:55] markcarver commented on #117
:smiley: This makes me _very_ happy!!!

[2016-04-21 05:47] bimohxh opened #126 "pagination need?"
If  pagination is needed to speed the API request ?maybe some time I just need request 10 data but you give me 1000 data

[2016-04-21 10:32] jimaek commented on #126
What exactly are you trying to do? Give me some examples

[2016-04-21 10:53] awesomes-cn commented on #126
Just get the data I need,  reduce the response data size and  save  the request time

[2016-04-24 08:54] bimohxh opened #127 "The result order is not right"
please visit http://api.jsdelivr.com/v1/jsdelivr/libraries?name=bootstrap*&fields=mainfile,name,versions

I just want to search `bootstrap` but it not be placed at first.

[2016-05-08 10:04] staskjs opened #128 "Default filename for specified version"
I am writing a vim plugin that will automatically insert a link to specified js library into html. I am using your API for that and I have figured out how to get mainfile for latest version of a library, but I haven't succeed in getting mainfile for a particular version.

http://api.jsdelivr.com/v1/jsdelivr/libraries/jquery?fields=mainfile - this returns me mainfile, like I wanted
but http://api.j

[2016-05-08 10:19] jimaek commented on #128
@MartinKolarik Any ideas? What can we do about this?
Do you have support for mainfiles per version in v2?

[2016-05-08 17:59] MartinKolarik commented on #128
IIRC this should work in v2.

@jimaek any idea what might be wrong with https://jsdelivr-api.herokuapp.com/v2/jsdelivr/libraries ?

[2016-05-08 18:32] jimaek commented on #128
Not sure. Just re-deployed and its still broken. The only change was the move of the api-sync server. But I changed the IP in the config and v1 works just fine

[2016-05-08 19:08] MartinKolarik commented on #128
@jimaek weird. Is the port also correct?

@staskjs there's no support for that in v1, I'm afraid. In v2, the `assets` list will look like this:

[code]

[2016-05-08 19:26] jimaek commented on #128
@staskjs The v2 demo is online now https://jsdelivr-api.herokuapp.com/v2/jsdelivr/library/jquery
Will that work?

[2016-05-08 19:36] staskjs commented on #128
@jimaek I think it will, thank you!

[2016-05-08 20:30] jimaek commented on #128
Please dont use the demo URL in production. We will try to push v2 live as soon as we can.

[2016-06-27 11:07] brgrz commented on #27
Still an issue with this
https://github.com/jsdelivr/jsdelivr/issues/3814

[2016-08-29 19:40] megawac opened #130 "API is not detecting new projects"
The api is either taking a long time to find new projects or is failing to find them at all. Causing frequent issues with bot such as https://github.com/jsdelivr/jsdelivr/pull/13466

[2016-08-29 19:41] megawac commented on #130
/cc @jimaek

[2016-08-29 19:43] jimaek commented on #130
im traveling right now, will check when I get stable internet. If you want try to check out the config of api-sync. Wrong access key? You should have access

[2016-10-18 11:19] amgadfahmi commented on #128
any update on this! got an experimental [lib ](https://github.com/amgadfahmi/scripty) using ur APIs

[2016-10-25 00:20] gavinhungry commented on #126
@jimaek,

I think what @bimohxh wants to do is limit the number of results in a query. For example, searching for `jquery*` yields an unwieldy number of results:
https://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery*

There used to be a `limit` query parameter that could be used for this purpose:
https://api.jsdelivr.com/v1/jsdelivr/libraries?name=jquery*&limit=10

However, I think that was a

[2016-10-25 00:23] gavinhungry commented on #127
I solved this problem with a merged pull request 2 years ago:
962c228737ea3b542f8851d30cbe20980c3be877

However, it was removed here (/cc @UnbounDev):
0b70303ada984f957f37537ec7aa7bbce26cce42

Clearly, I should have included a test in my PR.

[2016-10-25 16:27] MartinKolarik commented on #127
This is fixed/changed in v2. Probably not something we want to change in v1 now.

[2016-10-25 16:34] gavinhungry commented on #127
Really? It was already in v1 (for about a year). I'm assuming that it was only removed by accident.

[2016-10-25 17:40] #126 closed

[2016-10-30 22:09] indolering opened #133 "Specify Content Security Policy?"
I'm creating a library which depends uses WebWorkers.  Each worker will be fetching untrusted data, which could lead to a XSS attack.  The best protection against XSS attacks is to use a Content Security Policy, however, browsers apply the CSP of the incoming script, not the parent context.

It would be nice if you could pass CSP headers and values as URL parameters.

[2016-10-31 00:14] indolering commented on #133
Turns out you can't fetch a web worker from outside the current domain.  Closing for now.

[2016-10-31 00:14] #133 closed

[2017-05-06 22:26] jimaek opened #134 "API future"
I suggest freezing the API's DB and deprecating it. With our new backend it no longer serves a purpose.

[2017-05-07 10:44] thclev commented on #134
Which new backend is this in reference to? Is there a transition guide?

[2017-05-07 11:10] jimaek commented on #134
https://github.com/jsdelivr/jsdelivr/blob/master/beta-readme.md

We are still in progress of updating everything.

[2017-05-07 11:26] thclev commented on #134
API usage is as follows: static site generator, get latest version and list of versions along with main css file. Is there an alternative for this? Unfortunately the main file always only lists the js file in a bundle and never the css.

[2017-09-28 13:58] #134 closed

[2017-09-28 13:59] #44 closed

[2017-09-28 13:59] #60 closed

[2017-09-28 13:59] #127 closed

[2017-09-28 13:59] #128 closed

[2017-09-28 13:59] #130 closed

[2018-01-16 06:20] markhalliwell opened #137 "Add SRI to API"
Is it possible, or even a good idea for that matter, to get the SRI added to the API output?

x-ref: https://github.com/jsdelivr/jsdelivr/issues/6029

[2018-01-16 08:19] MartinKolarik commented on #137
Yes, check https://github.com/jsdelivr/data.jsdelivr.com, which already has it.

[2018-01-16 08:19] #137 closed, assigned to nobody

[2018-10-31 20:10] styfle opened #138 "Add a download/hit count to the API"
The only way I know of getting this info is from the badge:

https://data.jsdelivr.com/v1/package/npm/marked/badge

However the badge is already rounded and doesn't give options of per day/week/month.

1. Is there a way to read the download/hit count stats from the API?
2. How do you differentiate between npm hits vs github hits?

I tried this url but no luck to answer either of my questions: http

[2018-10-31 20:40] MartinKolarik commented on #138
Wrong repo 😄 This is an old version of the API. I think you'll find the answer to both questions in the README of the new API: https://github.com/jsdelivr/data.jsdelivr.com#get-package-usage-stats

[2018-10-31 20:42] MartinKolarik commented on #138
Also the badges support day/week/month/year values: https://github.com/jsdelivr/data.jsdelivr.com#get-a-badge-for-your-project

[2018-11-01 14:07] styfle commented on #138
Oops, I searched "api" and this was the first hit with a description "Looking for contributors - API for public CDNs" so I got confused 😅  https://github.com/jsdelivr?utf8=✓&q=api

Maybe you should archive this repo? https://help.github.com/articles/archiving-a-github-repository/

I think you answered my questions 😄
I'll move the conversation to https://github.com/jsdelivr/data.jsdelivr.com/issues

[2018-11-01 14:07] #138 closed, assigned to nobody

[2018-11-01 14:42] MartinKolarik commented on #138
@jimaek let's do that.

[2018-11-01 19:26] jimaek commented on #138
Not sure if that is correct since its technically still online and working for legacy users.  What if we need to migrate it to some other hosting provider and have to commit changes. Will the provider even see the repo if its archived?

[2018-11-01 19:32] MartinKolarik commented on #138
Alternatively change the description to "DEPRECATED - API for public CDNs"

[2018-11-01 20:30] jimaek commented on #138
added

[2021-02-27 07:16] MickeyKay opened #139 "API endpoint down?"
Hi there 👋🏼. I built a WordPress plugin which hits http://api.jsdelivr.com/v1/jsdelivr/libraries/fontawesome/?fields=versions,lastversion to grab version data for a hosted resource, and it looks like suddenly api.jsdelivr.com is no longer working. Is this a known issue? I can work to update to the newer api (data.), however based on the read me I would have expected things to keep working for the

[2021-02-27 10:13] jimaek commented on #139
Hey, it looks like Stackpath unexpectedly and without notice just stopped sponsoring us and deactivated our account which resulted in downtime of everything we had there. The main CDN was not impacted but the old API was :(
We were expecting this and had migrated most things but we also expect to get some kind of notice which would allow us to finish migrating the final pieces.

I have now removed

[2021-02-27 10:44] szepeviktor commented on #139
It would be nice to migrate from that API in the WordPress plugin.
https://github.com/MickeyKay/better-font-awesome/issues/27

[2021-09-04 10:18] #139 closed, assigned to nobody